body {
 background-color: rgb(202, 180, 180);
 font-family: "Poppins", serif;
 background-color: rgb(105, 2, 105);
}


/*logo m-tech*/
img{
    width: 90px;
    margin-left: 630px;
    margin-top: 40px;
}

/*envolve tudo dentro da caixa principal*/
.formulario-despesas{
    background-color: rgb(70, 1, 70);
    border: 1px solid black;
    border-radius: 12px;
    align-content:center ;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    margin-left: 200px;
    margin-right: 200px;
    height: 376px;
    box-shadow: 12px 15px 15px black

/*titulo*/
}
h3{
    font-size: 32px;
    color: white;
}

/*caixa que envolve o nome da despesa, valor e o adicionar*/
.item-despesa{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-weight: 800;
}
/*personaliza a lista de despesas*/
#despesas {
    font-size: 26px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

/*caixa em que se escreve a despesa e o valor*/
input{
        border: none;
        width: 100%;
        height: 30px;
        border-radius: 12px;
        outline: none;
        margin-top: 10px;
        

    }

/*faz as setas de cima e alto desaparecerem*/
         input::-webkit-outer-spin-button,
         input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }   

    
 /*personaliza a caixa onde escreve o valor*/   
.valor{
    width: 90px;
    height: 50px;
    font-size: 25px;
}

/*personaliza a caixa de despesa*/
.nome{
    width: 300px;
    height: 50px;
    font-size: 30px;
    margin-right: 12px;
}

/*personaliza o botão de adicionar*/
button{
    border: none;
    border-radius: 12px;
    background-color: rgb(43, 148, 43);
    color: rgb(255, 253, 255);
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 15px;
    margin-top: 12px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease; /*comando para a demora do aumento do botão*/
}

/*escala do aumento do botão*/
button:hover {
    transform: scale(1.1); /* Aumenta o botão em 10% */
}

/*personaliza o texto "Total"*/
h4{
    font-size: 40px;
    color: white;
}
